<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=e($blog['title'])?></title>
    
</head>
<body>
    <?php view('common.nav') ?>

    <h1><?=e($blog['title'])?></h1>
    <p>浏览量：<span id="display"></span></p>
    <p><?=hpe($blog['content'])?></p>

    <?php view('common.footer') ?>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script>
        var id = "<?=$blog['id']?>";
        var url = "/blog/display?id="+id;
        $.ajax({
            type:"GET",
            url:url,
            success:function(data){
                //把返回的浏览量放到页面
                $("#display").html(data);
            }
        });
    </script>
</body>
</html>