    <?php view('common.nav') ?>
    <h1>添加日志</h1>
    <form action="/blog/store" method="post">
        <input type="hidden" name="_token" value="<?=csrf()?>">
        <div>
            <label for="">标题：</label>
            <input type="text" name="title" id="">
        </div>
        <div>
            <label for="">内容：</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>      
        </div>
        <div>
            <label for="">是否公开：</label>
            <input type="radio" name="is_show" id="" value="1">公开
            <input type="radio" name="is_show" id="" value="0">私有
        </div>
        <input type="submit" value="添加">
    </form>
    <?php view('common.footer') ?>

    <link rel="stylesheet" type="text/css" href="/simditor-2.3.6/styles/simditor.css" />

<script type="text/javascript" src="/simditor-2.3.6/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/simditor-2.3.6/scripts/module.js"></script>
<script type="text/javascript" src="/simditor-2.3.6/scripts/hotkeys.js"></script>
<script type="text/javascript" src="/simditor-2.3.6/scripts/uploader.js"></script>
<script type="text/javascript" src="/simditor-2.3.6/scripts/simditor.js"></script>
<script>
var editor = new Simditor({
  textarea: $('#content'),
  toolbar:[
    'title',
    'bold',
    'italic',
    'underline',
    'strikethrough',
    'fontScale',
    'color',
    'ol'    ,       
    'ul'         ,
    'blockquote',
    'code'       ,
    'table',
    'link',
    'image',
    'hr'          , 
    'indent',
    'outdent',
    'alignment'
    ],
    upload:{
        url:'/upload/upload',   // 服务器提交的地址
        params:'null',
        fileKey:'image',    // 服务器接收时的文件名
        connectionCount:3,
        leaveConfirm: '文件上传中，真要离开吗？'
    }
});
</script>
</body>
</html>