<?php if(isset($_SESSION['_MESS_'])): ?>
<div id="_mess_" class="alert alert-success" role="alert">
    <?=$_SESSION['_MESS_'];?>
</div>
<?php unset($_SESSION['_MESS_']) ?>
<script>
    var m = document.getElementById('_mess_');
    var s = 3;
    var si = setInterval(function(){
        s--;
        if(s==0)
        {
            m.style.display = 'none';
            clearInterval(si);
        }
    },1000);
</script>
<?php endif; ?>
<h1>日志系统</h1>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="#">首页</a></li>
    <li role="presentation" class="active"><a href="#">日志列表</a></li>
    <li role="presentation"><a href="/blog/create">发表日志</a></li>
    <?php if(isset($_SESSION['id'])): ?>

    <li role="presentation"><a href=""><?=$_SESSION['email']?></a></li>
    <li role="presentation"><a href="/user/logout">退出</a></li>
    <?php else: ?>
    <li role="presentation"><a href="/user/register">注册</a></li>
    <li role="presentation"><a href="/user/login">登录</a></li>
    <?php endif; ?>
</ul>
