
    <?php view('common.nav') ?>
    <h1>订单列表</h1>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>订单编号</th>
            <th>总金额</th>
            <th>下单时间</th>
            <th>订单状态</th>
            <th>支付时间</th>
            <th>操作</th>
        </tr>
        <?php foreach($data as $k=>$v): ?>
        <tr>
            <td><?= $v['id'] ?></td>
            <td><?= $v['sn']?> </td>
            <td><?= $v['money']?></td>
            <td><?= $v['created_at'] ?></td>
            <td><?= $v['status']==0?'未支付':($v['status']==1?'已支付':'已退款') ?></td>
            <td><?= $v['pay_time'] ?></td>
            <td>
                <?php if($v['status']==0): ?>
                <form target="_blank" action="/alipay/pay" method="post">
                    <?php csrf_field() ?>
                    <input type="hidden" name="sn" value="<?=$v['sn']?>">
                    <input type="submit" value="点击支付" class="btn btn-default btn-xs">
                </form>
                <?php endif; ?>
            </td>
        </tr>
        <?php endforeach; ?>
    </table>

    <br>
    <?=$btns?>

    <?php view('common.footer') ?>

    <!-- <script src="/js/jquery-3.2.1.min.js"></script> -->
    <script>
        // $('._delete').click(function(){
        //     var id = $(this).attr('name');
        //     var token = '<?=csrf()?>';
        //     $.post('/blog/del',{id: id,_token: token},function(data){window.location.reload()});
        // })
    </script>
</body>
</html>