<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h1>扫码支付</h1>
    <img src="/qrcode/qrcode?code=<?=$code?>" alt="">

    <script>
        var sn = '<?=$sn?>';
        function check()
        {
            $.get('/user/orderStatus',{sn:sn},function(data){
                if(data == 1)
                {
                    alert('支付成功');
                    window.close();
                }
                else
                {
                    setTimeout(check, 1000);
                }
            })
        }
        setTimeout(check, 1000);
    </script>
</body>
</html>